.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  margin: 0.5rem;
  border-radius: 12px;
}

.box-1 {
  background-color: blue;
}

.box-2 {
  background-color: red;
}

.box-3 {
  background-color: rgb(222, 255, 8);
}