* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: #fff;
}

header {
  width: 100%;
  height: 4rem;
  text-align: center;
  margin: 1rem;
  position: fixed;
  margin-bottom: 4rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

