* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-1 {
  background-color: rgb(223, 240, 248);
}

.page-2 {
  background-color: rgb(244, 244, 178);
  overflow-x: hidden;
}

.page-3 {
  background-color: rgb(192, 244, 178);
}

.heading {
  font-size: 25rem;
  font-weight: 100;
  white-space: nowrap;
  text-align: center;
  transform: translateX(114rem);
}
