header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 1.5rem;
  height: 3.5rem;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

li {
  list-style: none;
  margin: 0rem 0.5rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 5rem);
}

.main-h1 {
  font-size: 6rem;
}